/* Estilo Memes Clássicos com Cores Brasileiras */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #87CEEB; /* Azul claro */
    margin: 0;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000; /* Texto preto para contraste */
}

#header {
    background-color: #00ff00; /* Verde escuro */
    color: #FFD700; /* Amarelo ouro */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border: 5px dashed #008000; /* Verde bandeira */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
}

#container {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo branco semi-transparente */
    padding: 20px;
    border: 5px dotted #00FF7F; /* Verde claro */
}

#sidebar {
    width: 220px;
    background-color: #FFFAF0; /* Branco floral */
    padding: 10px;
    height: 100vh;
    position: fixed;
    border: 4px solid #008000; /* Verde bandeira */
    z-index: 2;
    box-shadow: 0 0 10px #000;
}

#content {
    margin-left: 240px;
    padding: 20px;
    background-color: #ffffff; /* Branco */
    border: 5px double #FFD700; /* Amarelo ouro */
    border-radius: 10px;
    width: calc(100% - 280px);
    box-shadow: 0 0 15px #000;
}

.category {
    margin-bottom: 20px;
    border: 3px groove #00008B; /* Azul escuro */
    background-color: #ADD8E6; /* Azul claro */
    padding: 10px;
}

.members {
    text-align: left;
}

.category a {
    display: block;
    padding: 10px;
    color: #0000CD; /* Azul médio */
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #006400; /* Verde escuro */
    background-color: #FFD700; /* Amarelo ouro */
    margin-bottom: 5px;
    text-align: center;
}

.category a:hover {
    background-color: #32CD32; /* Verde limão */
    color: #fff;
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    transition: all 0.2s;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-shadow: 2px 2px #00008B; /* Azul escuro */
}

.section-content {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.2em;
    background-color: #F0FFF0; /* Fundo branco esverdeado */
    padding: 10px;
    border: 3px solid #006400; /* Verde escuro */
}

.hidden {
    display: none;
}

/* Adicionando elementos extras estilo meme */
h1, h3,h2 {
    font-family: "Impact", sans-serif;
    text-transform: uppercase;
    color: #006400; /* Verde bandeira */
    text-align: center;
}
.scrollable-sidebar {
    width: 250px;
    height: 100vh; /* Altura total da janela */
    overflow-y: auto; /* Ativa a rolagem vertical */
    background-color: #f1f1f1;
    padding: 10px;
}
ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    background-color: #32CD32; /* Verde limão */
    padding: 5px;
    margin: 5px 0;
    border: 3px inset #000;
}
